$breakpoints: (
  "xs": 472px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) and (max-width: #{map-get($breakpoints, "sm") - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) and (max-width: #{map-get($breakpoints, "md") - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) and (max-width: #{map-get($breakpoints, "lg") - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) and (max-width: #{map-get($breakpoints, "xl") - 1px}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map-get($breakpoints, "xl")) and (max-height: 900px) {
    @content;
  }
}
