// Header
.header {
  padding: 2rem 1rem;
  background-color: #fff;

  .link--logo:link,
  .link--logo:visited {
    text-decoration: none;
    color: var(--ion-color-dark);
  }

  .link--logo:hover {
    cursor: pointer;
  }
}

.brand-container {
  display: flex;
  align-items: center;
}

.brand-container__logo {
  width: 5rem;
}

.brand-container__name {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

// Tabs
.tabs-container {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  width: 13rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.2rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.tab__icon {
  width: 3rem;
  height: 3rem;
  color: #999;
  transition: color 0.4s;
}

.tab--active {
  .tab__icon,
  .tab__name {
    color: var(--ion-color-primary);
  }
  border-bottom: 2px solid var(--ion-color-primary);
}

.tab__name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #999;
  transition: color 0.4s;
}

// Forms
.form-section {
  margin: 9.6rem 0;
}

.form {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .btn {
    margin-top: 2rem;
  }
}

.form__legend {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group__label {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.form-group__input {
  height: 4rem;
  font-size: 1.4rem;
  padding: 0.6rem 1.2rem;
  border: 1.5px solid var(--ion-color-medium);
  border-radius: var(--border-radius-main);
}

.form-group__input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(200, 200, 200, 0.5);
}

.form__disclaimer {
  max-width: 40rem;
  padding: 0 1.2rem;
  margin: 2.4rem auto 0 auto;
  font-size: 1.2rem;
  word-spacing: 2px;
  text-align: justify;
}

// Footer
.footer {
  margin-top: auto;
  padding: 3.2rem 0.2rem;
  background-color: var(--ion-color-tertiary-shade);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  .brand-container {
    justify-content: center;

    .brand-container__logo {
      width: 8rem;
    }

    .brand-container__name {
      font-weight: 500;
      color: var(--ion-color-light);
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
}

.socials__heading {
  color: var(--ion-color-light);
  font-size: 1.3rem;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}

.socials-container__logo {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--ion-color-light);
}

.footer-cta__img {
  width: 15rem;
}
